body {
margin: 0;
padding: 0;
}
main {
max-width: 800px; /* Evita que las líneas de texto sean eternas */
margin: 0 auto; /* Centra todo el cuerpo de la página */
padding: 20px;
}
main h2{
color: rgb(190, 6, 43);
}
main h3{
color:#1644
}
header {
width: 100%;
display: flex;
align-items: center;
padding: 20px 30px; /* Más espacio interno para que el header respire */
box-sizing: border-box;
background-color: #16441d;
position: relative;
min-height: 180px; /* Aumentamos la altura mínima para que quepa el logo grande */
}

header nav {
display: flex;
flex-direction: column; /* Eslogan DEBAJO del logo */
align-items: center;
z-index: 2;
width: 250px; /* Más ancho para que el logo tenga espacio */
}

/* EL LOGO: Aquí es donde le damos el tamaño REAL*/
header nav img {
width: 200px; 
height: auto;
margin-bottom: 10px;
}

header nav h3 {
font-size: 1.5em; /* Eslogan un poquito más grande */
margin: 0;
text-align: center;
color: rgb(190, 6, 43);
font-family: Georgia, 'Times New Roman', Times, serif
}