*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(227, 226, 221);
}
header{
      background-color: rgb(255, 255, 255);
      margin: auto;
      /* en proceso */
      /* display: grid;
      grid-template-columns: auto 1fr ;
      align-items: center;
      gap: 5px;  */
      padding-bottom: 20px;
      align-items: center;
    }
    h2{
        margin: auto;
        font-weight: bold;
    }
    nav{
        margin: auto;
    }
    .logoNav{
        margin: auto;
        padding-top: 10px;
        padding-left: 10px;
        border-radius: 20px;
        width: 30vh;
    }
    .logoNav:hover{
        /* para que se agrande un 11% al pasar el cursor. */
        transform: scale(1.05); 
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.06);
    }
 main{
    background-color: rgb(255, 255, 255);
 }